.card{
    margin-top: 20%;
    margin-bottom: 15px;
    text-align:center;
    color: black;
    background-color: transparent;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.card-title{
    font-size: 6vh;
    color: white;
}

.cBody{
    background-color: rgba(36, 36, 36, .5);
}

.card:hover{
    box-shadow: 8px 8px 8px rgb(0, 0, 0);
    transition-duration: 0.3s;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}





@media (max-width:576px){
    .card{
        margin-top: 15px;
        margin-bottom:15px;
        text-align:center;
        color: black
    }
    
    .card-img-top{
        height: 300px;
    object-fit: cover;
    }
}

@media (max-width:992px){
    .card-img-top{
        height: 200px;
    object-fit: cover;
    }
    
}